{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"id-length": 0,
		"max-lines-per-function": 1,
		"max-statements": 1,
		"new-cap": [2, {
			"capIsNewExceptions": [
				"GetIntrinsic",
				"RequireObjectCoercible",
				"ToUint32",
			],
		}],
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"max-lines-per-function": 0,
			},
		},
	],
}
